
body {
  background-image: url('../img/cocina.jpg');
  background-size: cover;
  background-attachment: fixed
}

.background-overlay {
  background: rgba(48, 51, 107,.5);
  top: 0;
  left: 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#encabezado{
  color: aliceblue;
}

.column {
  margin: 10px 0px 0px 0px;
}

.input-group {
  margin: 10px 0px 0px 0px;
}

.padding-1 {
  background-color:#E6E6FA;
}
.padding-2 {
  background-color: #F0FFF0;
}

.usuario {
  background-color: #F0FFF0;
}